<div class='dashboard'>
  <div class='title'>
    <span class='title-image'><%= image_tag('broccoli-small.png') %></span>
    <h1 class='title-text'>Broccolizer |
    <%= link_to 'Salir', destroy_admin_session_path %></h1>
  </div>

  <nav class='sidenav'>
      <ul class='main-buttons'>
        <li>
          <%= link_to 'Próximamente', '#', :method => :get , :class => 'nav-link'%>
        </li>
      </ul>
  </nav>

  <div class='charts'>
    <div class='chart'>
      En construcción
    </div>
  </div>
</div>
