@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

$color-dark: #1E2027;
$default-margin: 5px;

body {
  background-color: lighten($color-dark, 80);
  line-height: 30px;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  height:100%;

  h1, h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.dashboard {
  display: block;
  height: 100%;

  .title {
    background-color: $color-dark;
    color: white;
    display: block;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;

    .title-image {
      float: left;
      margin: $default-margin;
    }

    .title-text {
      float: left;
      margin: 10px $default-margin;
    }

    a {
      color: white;
      text-transform: lowercase;
    }
  }

  .sidenav {
    background-color: $color-dark;
    height: 100%;
    float: left;
    margin-top: $default-margin;
    width: 280px;

    .main-buttons{
      color: #fff;
      list-style-type: none;
      margin: 64px 0;
      padding: 0;

      li {
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .nav-link {
        color:#FFFFFF;
      }

      & > li{
        padding: 16px 52px;

        &:hover, &:active, &:focus{
          background-color: lighten($color-dark, 5);
          cursor: pointer;
        }
      }
    }
  }

  .charts {
    display: block;
    width: 100%;

    .chart {
      background-color: white;
      float: left;
      margin-left: $default-margin;
      margin-top: $default-margin;
      padding: 50px;
      width: 400px;
    }
  }

  .account {
    display: block;
    width: 100px;
    background-color: white;
    float: left;
    padding: 20px;
    margin-left: $default-margin;
    margin-top: $default-margin;
  }
}
